head
  meta(http-equiv="X-UA-Compatible", content="IE=Edge")
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  meta(name="application-name", content="Karma")
  meta(name="description", content="Karma incentivizes and rewards activity in EVE Online corporations and alliances")
  title Karma

template(name="error")
  .error
    span Whoops! I couldn't find what you were looking for...

template(name="loading")
  .loading
    span Loading...

template(name="dashboard")
  #dashboard
    header
      .ui.inverted.menu
        img.item.ui.tiny.logo.image(src="/knot.png")
        .right.menu
          .ui.dropdown.item
            img.ui.avatar.image(src="/image.png")
            span Character name
            .menu
              .item Lorem
              .item Ipsum
              a.item(href="/logout")
                i.log.out.icon Log out
    .page-wrapper
      nav
        +sidebar
      main
        .ui.container
          +yield("main")
    footer
      .ui.inverted.center.aligned.footer.segment
        | Running on Meteor

template(name="sidebar")
  #sidebar.ui.inverted.vertical.sticky.menu
    h1.item Karma
    .item
      
    .item
      | Links
      .menu
        a.item(href="/home") Home
        a.item(href="/refining") Refining
        a.item(href="/industry") Industry
        a.item(href="/meteortest") Meteor Test
    a.item(href="/logout")
      

template(name="simple")
  #simple
    header
      h1 Karma
    main
      +yield("main")
    footer
      | Running on Meteor
