@import url("https://fonts.googleapis.com/css?family=Fugaz+One")

#dashboard
  height 100%
  .page-wrapper
    overflow hidden
    height 100%
  nav
    float left
    height 100%
    #sidebar
      height 100%
  main
    float left
    padding 25px

img.logo
  height 28px
  margin 0 auto
