#simple

#dashboard
  height 100%
  .page-wrapper
    overflow hidden
    height 100%
  nav
    float left
    height 100%
  #sidebar
    height 100%
  main
    float left

img.logo
  width 41px !important
  height 50px !important
  padding 0 !important
  margin 2px 0 0 4px
