head
  meta(http-equiv="X-UA-Compatible", content="IE=Edge")
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  meta(name="application-name", content="Karma")
  meta(name="description", content="Karma incentivizes and rewards activity in EVE Online corporations and alliances")
  title Karma

template(name="error")
  .error
    span Whoops! I couldn't find what you were looking for...

template(name="loading")
  .loading
    span Loading...

template(name="dashboard")
  #dashboard
    nav
      +sidebar
    .page-wrapper
      header
        .ui.inverted.menu
          .right.menu
            .ui.dropdown.item
              if currentUser
                img.ui.avatar.image(src="https://image.eveonline.com/Character/#{currentCharId}_64.jpg")
              else
                img.ui.avatar.image(src="/image.png")
              span &nbsp;#{currentCharName}
              i.dropdown.icon
              .menu
                a.item
                  i.user.icon
                  span Profile
                a.item
                  i.settings.icon
                  span Settings
                a.item
                  i.lock.icon
                  span Lock screen
                a.item.logout-button
                  i.log.out.icon
                  span Log out
      main
        .ui.container
          +yield("main")
    footer
      .ui.inverted.center.aligned.footer.segment
        | Running on Meteor

template(name="sidebar")
  #sidebar.ui.inverted.vertical.menu
    a.item(href="/home")
      img.ui.logo.image(src="/karma.png")
    .item
      .header Misc
      .menu
        a.item(href="/meteortest") Meteor Test
    .item
      .header Tools
      .menu
        a.item(href="/refining") Refining
        a.item(href="/industry") Industry
