template(name="landing")
  header
    h1 Karma
    +loginButtons
  main
    a(href="{{pathFor 'home'}}")
      img(src="/knot.png")
    h2 Incentivize your alliance or corp!
  footer
    | Running on Meteor
