doctype html
html(lang="en")
  head
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="application-name", content="Karma")
    meta(name="description", content="Karma incentivizes and rewards activity in EVE Online corporations and alliances")
    title Karma - #{title}

    block head
      //- Stylesheets
      link(rel="stylesheet", href="/css/lib/normalize.css")
      link(rel="stylesheet", href="/css/common.css")

      //- Javascript
      script(type="application/javascript", src="/js/lib/jquery-1.11.3.min.js")
      script(type="application/javascript", src="/js/common.js")
  body
    header
      h1 Welcome to Karma!
    main
      block content
    footer
      | Running on Node with Express, CoffeeScript, Jade and Stylus
