extends common

block append head
  //- Stylesheets
  link(rel="stylesheet", type="text/css", href="/css/error.css")

block body
  h1 #{error.status}: #{message}
  h4 #{error.description || message}
  if error.stack
    pre!= error.stack
  else
    a(href="/") Click here to return to Karma
